[Unit]
Description=Display manager monitor
After=display-manager.service

[Service]
Type=simple
SmackProcessLabel=System
User=graphic_fw
Group=graphic_fw
Capabilities=cap_sys_ptrace=i
SecureBits=keep-caps
ExecStart=/usr/bin/bash -c /usr/bin/enlightenment_mon.sh
Restart=yes
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10

[Install]
WantedBy=graphical.target

