[Unit]
Description=Creating a link file for user to access wayland-0
DefaultDependencies=no
Before=starter.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh -c "while [ ! -e /run/wayland-0 ] ; do /usr/bin/sleep .1 ; done ;/usr/bin/ln -s /run/wayland-0 /run/user/%U/"
